{% extends "../layout/app.html" %}

{% block css%}
<style>
@media (max-width: 767px) {
    .write-form{
        width: 100% !important;
    }
}

</style>
{% endblock %}

{% block content %}
<form class="card border p-2 mt-2 mb-4 mx-auto bg-dark  write-form w-50 shadow" method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %} 
    <div class="mb-2">
        <label for="{{ form.title.id_for_label }}" class="form-label">Title</label>
        {{ form.title }}
        {% for error in form.title.errors %}
        <div class="text-danger">{{error}}</div>
        {% endfor %}
    </div>
    <div class="mb-2">
        <label for="{{ form.username.id_for_label }}" class="form-label">Description (optional)</label>
        {{ form.description }}
        {% for error in form.description.errors %}
        <div class="text-danger">{{error}}</div>
        {% endfor %}
    </div>
    <div class="mb-2">
        <label for="{{ form.author.id_for_label }}" class="form-label">Author</label>
        {{ form.author }}
        {% for error in form.author.errors %}
        <div class="text-danger">{{error}}</div>
        {% endfor %}
    </div>
    <div class="mb-2">
        <label for="{{ form.tumbnail.id_for_label }}" class="form-label">Tumbnail</label>
        {{ form.tumbnail }}
        {% for error in form.tumbnail.errors %}
        <div class="text-danger">{{error}}</div>
        {% endfor %}
    </div>
    <div class="mb-2">
        <img class="rounded" id="image_preview"{% if form.instance.tumbnail %}src="/static/tumbnail/{{form.instance.tumbnail}}"{% endif %} style="object-fit: cover;max-height: 200px;width: 100%;">
    </div>
    <button type="submit" class="btn btn-light ">Save & continue</button>
</form>
{% endblock %}
{% block script %}
<script>
    $("#tumbnail").on('change', function(){
        var file = this.files[0]
        var reader = new FileReader();
        reader.onload = function (e) {
          $("#image_preview").attr('src', e.target.result);
        }

        if(file){
            reader.readAsDataURL(file);
        }
    });
</script>
{% endblock %}